@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Origins of AT Hike Log</h3>

<p>The idea for this app came about as a result of my 2021 AT section hike from Springer Mtn, GA to Hot Springs, NC.</p>

<p>Every night in camp, I would pull up my Google Sheets spreadsheet and tediously type in starting and ending mile markers, compare actual progress vs 
    my plan, and try to write formulas to view average miles per day pace.  Trying to do that on a cell phone in the woods is not very easy.
    I also wrote notes in a journal by hand with a pad of paper and pen.</p>

<p>I thought it would be nice to have an app where all you have to do is key in start and ending mile markers for each days' hike,',
    perhaps add some notes, and let the app do all the heavy lifting for calculating stats.</p>

<p>At it's core this is all the app was designed to do, but over time the hope is to further develop it and add functionality that would be useful
    to other AT hikers that isn't captured in existing apps.</p>
