@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Web:</strong>   <a href="https://jderdman.com" target="_blank" rel="noopener noreferrer">jderdman.com</a><br />
    <strong>Email:</strong>   <a href="mailto:jeff@jderdman.com">jeff@jderdman.com</a><br />
    <strong>Phone:</strong>   317-721-4506<br />
    <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/jderdman" target="_blank" rel="noopener noreferrer">linkedin.com/in/jderdman</a><br />
    <strong>Github:</strong> <a href="https://github.com/jerdman81" target="_blank" rel="noopener noreferrer">github.com/jerdman81</a><br />

</address>